
<h1><%= pluralize(@open_mats.size, 'Open Mat') %></h1>

<% @open_mats.each do |open_mat| %>
  <article>
    <header>
      <h2><%= link_to open_mat.location, open_mat_path(open_mat) %></h2>
    </header>
    <table>
      <tr>
        <th>Host:</th>
        <td><%= open_mat.host %></td>
      </tr>
      <tr>
        <th># People Attending:</th>
        <td><%= open_mat.number_people_attending %></td>
      </tr>
      <tr>
        <th>When:</th>
        <td><%= open_mat.starts_at %> (<%= starts_in(open_mat) %>)</td>
      </tr>
    </table>
    <%= image_for(open_mat) %>
  </article>
<% end %>
