<article>
  <h2>Location:</h2>
  <p>
    <%= @open_mat.location %>
  </p>
  <h3>Host:</h3>
  <p>
    <%= @open_mat.host %>
  </p>
  <h3>Number of People Attending</h3>
  <p>
    <%= @open_mat.number_people_attending %>
  </p>
  <h3>When</h3>
  <p>
    <%= @open_mat.starts_at %>
    <%= starts_in(@open_mat) %>
  </p>
</article>

<%= link_to "All Open Mats", open_mats_path %>
<%= link_to "Edit", edit_open_mat_path(@open_mat) %>
<%= link_to "Delete", open_mat_path(@open_mat), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= render 'footer' %>
